{% extends "base.html" %}
{% block title %}Inicio{% endblock %}
{% block head %}
    {{ super() }}

      <link rel="stylesheet" type="text/css" href="../static/btc.css"/>

{% endblock %}
{% block content %}
<!---->

<div class="container">
  <h2>Bitcoin puede ser como el fiat:</h2>
  <p>Un correcto entendimiento de porqué la economía antual sufre de crisis cíclicas nos permitirá entender que si la sociedad se decanta por utilizar bitcoin como moneda de intercambio, este puede acabar gozando de los mismos problemas que sufrimos hoy día con fiat.
    <br>
    <br>
    La complejidad de ser tenedor de nuestras propias llaves de bitcoin, lleva cada vez más al público en la dirección de tener bitcoin sin custodia. Esta situación, ha derivado en una especie de reserva fraccionaria cripto, ya que las empresas dedicadas a este sector, están aprendiendo de consejeros pertenecientes a la banca tradicional. 
    <br>
    <br>
    Si bien es cierto que los pocos bitcoiners que decidan guardar bitcoin bajo su propio control, podrán escaparse de los errores del sistema, con la importación de la reserva fraccionaria a los exchanges, bancos y wallets que utilizan bitcoin, el sistema económico no resolverá sus problemas de crisis cíclica y manipulación financiera. 

</div>


{% endblock %}