{% extends "base.html" %}
{% block title %}Inicio{% endblock %}
{% block head %}
    {{ super() }}

      <link rel="stylesheet" type="text/css" href="../static/btc.css"/>

{% endblock %}
{% block content %}
<!---->

<div class="container">
  <h2>Intercambio de btc</h2>
  <h3>Comprar sin KYC</h3>
  <ul> 
    <li>- <a href="https://github.com/Reckless-Satoshi/robosats" target="_blank">Robosats</a>:</li> Lo he utilizado y funciona genial. 
    <li>- <a href="https://twitter.com/lnp2pBot" target="_blank">Lnp2pBot</a></li>
  </ul>

  <h3>Intercambio Rbtc:</h3>
  <ul>
    <li>- <a href="https://live.sovryn.app/" target="_blank">Sovryn</a></li>
  </ul>

  <h3>Trading con btc</h3>
  <ul>
    <li>- <a href="https://lnmarkets.com/futures/trading" target="_blank">Lnmarkets</a></li>
    <li>- <a href="https://kollider.xyz/" target="_blank">Kollider</a></li>
  </ul>

  <h3>Comprar con kyc (no recomendado):</h3>
  <ul>
    <li>- <a href="https://localbitcoins.com/" target="_blank">Local Bitcoin</a>:</li> Me pedían datos personales. Así que lo paso a kyc.
  </ul>
  

</div>


{% endblock %}