{% extends "base.html" %}
{% block title %}Inicio{% endblock %}
{% block head %}
    {{ super() }}

      <link rel="stylesheet" type="text/css" href="../static/btc.css"/>

{% endblock %}
{% block content %}
<!---->

<div class="container">
  <h1>Custodia y adopción: El dilema</h1>
  <p>Muchos buscamos una adopción masiva de bitcoin y deseamos que sea así, no por beneficio económico, sino por responsabilidad moral, ya que nuestro deseo es quitar el poder de creación de dinero al gobierno. Sin embargo, nos enfrentamos al problema de la adopción masiva.</p>
  <h4>El problema</h4>
  <p>Bitcoin es un activo que se escapa de control gubernamental, por tanto, es difícil que éste de su apoyo para animar a los usuarios hacia una adopción mayoritaria. Es más, cómo muestra El Salvador, ni volviéndolo legal, la economía pasara a bitcoin 100%. Además, es difícil que las personas quieran tomar responsabilidad y convertirse en su propio banco, cuándo creen que tienen el capital asegurado en su cuenta bancaria.</p>
  <p>Es por ello, que un gran número de usuarios nuevos y experimentados utilizan métodos de terceros para custodiar sus bitcoins. Ni todo el mundo entiende ni todo el mundo quiere.</p>
  <h4>La nececidad</h4>
  <p>Un aumento de la adopción, pasa obligatoriamente por la necesidad de crear métodos de custodia que no dependan del usuario ni tampoco sean centralizados, ya que esto obligaría a las empresas a ceder los datos de sus clientes.</p>
  <h4>La solución: Un llamado a la comunidad</h4>
  <p>Necesitamos herramientas descentralizadas de custodia, dónde almacenar los bitcoins sea fácil, simple y agradable en cuánto a experiencia de usuario.</p>
  <p>Sin esto, obviamente que podremos extender los valores y la utilidad de bitcoin por el globo, sin embargo, perderemos una enorme cantidad de usuarios que caerán directamente en manos de instituciones que forman parte de un sistema dedicado al robo. Salvarlos, es resolver actualmente el problema de la custoia.</p>



</div>


{% endblock %}