{% extends "base.html" %}
{% block title %}Inicio{% endblock %}
{% block head %}
    {{ super() }}

      <link rel="stylesheet" type="text/css" href="../static/btc.css"/>

{% endblock %}
{% block content %}
<!---->

<div class="container">
  <p>Se espera que los intercambios descentralizados aumenten en volumen conforme aumenta la necesidad de privacidad y un mayor porcentaje de la economía se mude a internet. Sin embargo, la dificultad de tener privacidad y conseguir unos intercambios realmente eficientes, es complicada.</p>
  <p>Se requiere una profesionalización por el lado de la oferta, que incentive a las buenas actuaciones y así la demanda se sienta más segura para realizar los intercambios.</p>
  

</div>


{% endblock %}