{% extends "base.html" %}
{% block title %}Inicio{% endblock %}
{% block head %}
    {{ super() }}

      <link rel="stylesheet" type="text/css" href="../static/btc.css"/>

{% endblock %}
{% block content %}
<!---->

<div class="container">
  <h2>Proposición de valor:</h2>
  <p>El valor de Bitcoin deriva directaente de quitar el control del sistema monetario al estado. Quitando así, las decisiones arbitrarias del gobierno en materia de masa monetaria o censura de transacciones.</p>
  <br>
  <p>Debemos entender que por sí mismo, Bitcoin no trae un sistema monetario sano, su utilidad viene de la resistencia que provee ante el control estatal. Es decir, que los <a href="/btc/btc_fiat">vicios del sistema económico</a> actual pueden reproducirse en un sistema económico con Bitcoin como base. </p>

</div>


{% endblock %}