{% extends "base.html" %}
{% block title %}Inicio{% endblock %}
{% block head %}
    {{ super() }}

      <link rel="stylesheet" type="text/css" href="../static/btc.css"/>

{% endblock %}
{% block content %}
<!---->

<div class="container">
  <h2>Shitcoin, definición:</h2>
  <p>Shitcoin es todo sistema que no sea criptodinamicamente seguro para llevar a cabo la <a href="/btc/proposicion_valor">proposición de valor</a> por la que fué creado Bitcoin.
  </p>
  <br>
  <p>Si bien ninguna implementación de Bitcoin puede ser <a href="">absolutamente</a> segura, será considerada la red como la más segura por ahora</p>

</div>


{% endblock %}