{% extends "base.html" %}
{% block title %}Dinero{% endblock %}
{% block head %}
    {{ super() }}

      <link rel="stylesheet" type="text/css" href="../static/btc.css"/>

{% endblock %}
{% block content %}
<!---->

<div class="container">
  <h1>Que es el dinero</h1>
  <p>
    El dinero es un activo o bien generalmente aceptado como medio de pago por los agentes económicos para sus intercambios. 
    <br>
    Esta utilidad, es lo que vuelve al dinero un bien intermediario que ayuda a coordinar la actuación de los diferntes individuos. ¿Cómo ayuda a coordinar?
    <br>
    El dinero como unidad de cuenta y medio de intercambio, transfiere y almacena información. Es decir, cuándo intercambiamos un bien a determinado precio, estamos enviando información sobre gustos, preferencias, etc. Un individo que no participe en un intercambio, pero pueda ver el precio al que fué realizado, tendrá información valiosa que le permitirá encauzar sus acciones en función de un conocimiento que sin la existencia de precios, no existiría.
    <br>
    Si bien la información que suministran los precios es histórica, es decir, pasada. Los precios de intercambio nada tienen que decirnos sobre los intercambios futuros, sin embargo, nos permiten hacernos una idea de cómo podrían ser. 



  </p>






</div>


{% endblock %}