{% extends "base.html" %}
{% block title %}Fiat y fallas económicas{% endblock %}
{% block head %}
    {{ super() }}

      <link rel="stylesheet" type="text/css" href="../static/btc.css"/>

{% endblock %}
{% block content %}
<!---->

<div class="container">
  <h1>Que es el dinero y porqué su manipulación causa fallas en la economía.</h1>
  <p>
    Las expansiones monetarias, traen consigo cambios en la conducta de los individuos que se adaptan al nuevo entorno creado por la situación de expansión de dinero. Esta alteración de la actuación humana lleva a errores en la asignación de recursos productivos.
    <br />
    <br />
    La intención de este apartado, es explicar que es el dinero y cómo su manipulación puede alterar la economía. Vamos a avanzar paso por paso, desde una explicación de que es el dinero, los precios y cómo se produce una asignación correcta de los recursos disponibles, para posteriormente relatar cómo se producen los primeros fallos en la economía. Este artículo será introductorio para una futura explicación de porqué la reserva fraccionaria causa crisis ciclicas.  
  </p>

  <h2>Asignación de bienes eficiente y natural</h2>
  <p>
    Todo proceso productivo consta de fases y abarca una determinada cantidad de tiempo hasta que se obtiene el producto final. Es decir, la diferencia que hace más productivo un tractor que un harado romano, es que el primero tiene más fases productivas y se requiere de un proceso más largo para su elaboración.
    <br>
    Hoy día, utilizamos bienes de los que desconocemos la cantidad de recursos y transformaciones que han sido requeridos previamente antes de que llegue a nuestras manos. Por poner un ejemplo, imagine ese tractor: El petroleo utilizado para las ruedas y de combustible viene de rusia, los chips que controlan la eléctrónica vienen de Asia y los científicios que lo diseñaron se encuentran en Europa, además, cada una de sus fases de producción han sido realizadas por diferentes empresas. Esta complejidad en su elaboración, es en definitiva, lo que hace del tractor un bien mucho más eficiente que el simple arado romano.
    <br />
    <br />
  <h3>Dinero y precio</h3>
  <li><a href="/economia/dinero" target="_blank">Dinero</a></li>
  <br>
    El dinero, como intermediario, transporta información. Cuando intercambias un bien por tu dinero, estás indicando que valoras este y estás dispuesto a realizar la transacción al precio al que lo compraste, es decir, el precio muestra información histórica sobre intereses y transacciones. Esta información motiva a los actores productivos para reasignar recursos y satisfacer las necesidades más valoradas por los individuos.
    <br>
    <h3>Las personas actúan ante la información y tardan tiempo en empezar la producción.</h3>
    Si bien los precios muestran a los productores que bienes son más valorados y cuales menos, estos no pueden mover recursos de forma inmediata, deben transformarse, producirse o recliclarse en un proceso que lleva tiempo. Es decir, ante un bien que la sociedad desea satisfacer de forma urgente, los actores tardarán un tiempo en conseguir los factores de producción para satisfacer esta necesidad. 
    <br>
  </p>

  <h2>Emisión monetaria y asignación ineficiente</h2>
  <p>
    Si los actores no pueden producir de forma inmediata, y los precios sólo muestran información pasada, la única manera en que estos (los precios) pueden transmitir una información eficiente, es que este bien(el dinero) sea estable y no se produzcan cambios repentinos. Es decir, los precios ayudan a predecir siempre que la masa monetaria sea predecible. Es decir, si alguien introduce dinero nuevo en el sistema en una cantidad y momento inesperado, esta acción traerá errores de información y por ende, desajustes en la economía. Este proceso de error se produce a lo largo del tiempo, ya que el dinero no pasa de mano en mano de manera instantanea. 
    <br>
    <li><a href="/economia/formas_emision" target="_blank">Formas de emisión monetaria</a></li>
    <br>
    <h3>El dinero pasa de unos a otros.</h3>
    Toda emisión monetaria recorre la sociedad desde los primeros actores que la reciben hasta el último, es decir, esta no se extiende instantaneamente, sino que también, como todo proceso humano, requiere tiempo. Aquí ya surge el primer problema de la emisión fraudulenta:
    <h4>Se benefician quienes primero reciben</h4>
    Quienes primero reciben el nuevo dinero, podrán comprar bienes a precios antiguos, ya que el resto de individuos están actuando con el conocimiento tácito de una cantidad de dinero previa, que ahora ha sido modificada. Es decir, los que primero reciben este dinero, están por así decirlo, obteniendo bienes a un precio más barato que el resto. <i>Quedaros con este proceso, por favor, en el que se están realizando transacciones, sin que una parte de los actores sean conscientes de la nueva situación. (Unos juegan con ventaja)</i>
    <br>
    <br>
    Con unos actores que ven su capacidad adquisitva aumentada arbitrariamente, estos podrán pujar por los bienes con esa ventaja que les proporciona el nuevo dinero, con esta puja se ejerce presión para que los precios de los bienes que estos desean suban. ¿Que pasará entonces con los productores de bienes? Pues que comenzarán a llevar recursos productivos al sector que sube de precios, bajo la idea de que estos productos están sufriendo una mayor demanda. 
    Debemos recordar que, esta subida de precios no sucede por una mayor demanda, sino por un grupo de personas que han recibido dinero de nueva creación. 
    <br>
    <h4>Ocurre el desajuste</h4>
    Mientras los productores se lanzan a producir nuevos bienes, los precios elevados, seguirán mostrando una supuesta escasez de bienes y, el nuevo dinero se irá filtrando a su vez, a sucesivos individuos que de forma gradual, causarán subidas de precios en otros puntos de la economía. Cuando estos empresarios consigan llevar al cabo de un determinado tiempo, sus productos terminados a este mercado, descubrirán que la demanda no había aumentado, por ende tendrán que bajar los precios al no existir demanda para cantidades mayores del bien.
    <br>
    <br>
    Este desajuste entre lo que desea la sociedad y la información falsa suministrada por unos precios que no reflejan la realidad, es lo que en última instancia genera auges y caídas de precios, que, en un mercado no intervenido serían prácticamente imperceptibles.
    <br>
    <br>
    El desajuste ha ocurrido. A estas alturas, si me he explicado bien, él lector podrá imaginarse que sucede un desajuste semejante en diferentes sectores conforme el dinero se pasa entre personas. Este análisis servirá de base para una explicación más profunda sobre los efectos de la reserva fraccionaria en la economía, la cuál de forma masiva, prolongada y crónica introduce expansiones y contraccioines de la masa monetaria en la economía. 

    <li><a href="reserva_fraccionaria" target="_blank">Reserva fraccionaria ¿Qué es?</a></li>



  </p>






</div>


{% endblock %}