{% extends "base.html" %}
{% block title %}Emisión monetaria{% endblock %}
{% block head %}
    {{ super() }}

      <link rel="stylesheet" type="text/css" href="../static/btc.css"/>

{% endblock %}
{% block content %}
<!---->

<div class="container">
  <h1>Formas de emisión monetaria</h1>
  <p>
    Existen diferentes formas de emisión de nueva moneda:
    <ul>
      <li><a href="" target="_blank">Emisión directa</a>: La impresión de nuevo dinero es la forma histórica más utilizada. Consiste en forjar nueva moneda, imprimir nuevos billetes, o cómo hoy día, emitir nuevo dinero electrónico. </li>
      <br>
      <li><a href="" target="_blank">Activos seguros</a>: La emisión de algunos activos considerados altamente seguros puede actuar como un aumento en la base monetaria, ya que estos pueden ser intercamiados como si de dinero se tratase.</li>
      <br>
      <li><a href="reserva_fraccionaria" target="_blank">Reserva fraccionaria</a>: La emisión monetaria por préstamos sin respaldo es hoy día la predominante y además, es la más perjudicial de todas ellas ya que tras un tiempo de expansión, tiende a contraer la masa monetaria. </li>
    </ul>



  </p>






</div>


{% endblock %}