{% extends "base.html" %}
{% block title %}Inicio{% endblock %}
{% block head %}
    {{ super() }}

      <link rel="stylesheet" type="text/css" href="../static/btc.css"/>
      <style type="text/css">
        .cursive {
          font-family: cursive;
        }
        .negrita {
          font-weight: bolder;
        }
      </style>

{% endblock %}e
{% block content %}
<!---->

<div  class="container">
  <h2>Annona romana:</h2>
  <p>
    La annona es un "organismo público creado por Augusto para institucionalizar el abastecimiento de alimentos al pueblo de Roma; se daba así caracter normativo a la costumbre heredada desde la época de Cayo Graco de distribuir trigo subvencionado entre los ciudadanos."(Pedro Barcel y Juan José Ferrer Maestro. Historia de la Hispania Romana p.486) 
    <br>
    <!--Annona militaris: p.486-->
    El análisis que quiero dejar hoy, es una relación entre la intervención estatal y su subsiguiende reiteración y ampliación hasta el culmen de ahogar la economía, mediante el estudio de la evolución de la annona en la antigua Roma. 
    Con este pequeño ensayo, espero aportar algo de claridad a un proceso que se dió de manera larga en tiempo, compleja y difícil de relacionar. 
  </p>

  <br>
  <h3>Fechas</h3>
  <ul>
    <li><spam class="negrita">509-287 a.c:</spam> Durante estos años, el gobierno republicano tuvo que intervenir esporádicamente para asegurar el suministro de grano a Roma en épocas de escasez, ya sea por guerras u otras vicisitudes. Sin embargo, remarcaré cómo las primeras intervenciones se dan de una forma limitada, esporádica e incluso temporal, para posteriormente, continuar una vez se vuelve normal en la vida diria la intervención.</li>

    <li><spam class="negrita">123 a.c:</spam> La distribución regular de grano se hizo efectiva tras una propuesta de Cayo Graco y aprovada por la asamblea romana. Bajo esta propuesta, todo hombre adulto tenía el derecho a comprar grano subsidiado hasta una cantidad de 33kg aproximadamente. Esta ley afectó a unos 40.000 ciudadanos.</li>

    <li><spam class="negrita">46-44 a.c:</spam> Con el paso del tiempo y conforme la población en Roma aumentaba, el número de ciudadanos subsidiados ascendió a 320.000, aproxímadamente la mitad de la población. Esta cifrá fué reducida por Julio César a 150.000 en un intento de recortar el gasto de la administración.</li>

    <li><p><spam class="negrita">44 - 27 a.c:</spam> Augusto como primer emperador romano, pacificó el imperio y otorgó estabilidad al estado. Para ello, en un intento de calmar al pueblo, aumentó la cifra de personas que podían comprar grano subsidiado a 200.000, institucionalizando la annona por ley y haciendo así permanente una costumbre que ya era habitual desde tiempo de Cayo Graco.</p>
    <p>Por un lado, para abastecer tanto a la propia Roma, cómo al ejército, se obtenían los recursos mediante tributación fiscal, requisas extraordinarias y mediante la compra(HHR p.551). Por el otro, aún se recurría al transpote de estos bienes a los <spam class="cursive"> navicularii</spam>, quienes recibían una compensación económica por el servicio. </p></li>

    <li>
      <p><spam class="negrita">14-37 d.c:</spam> Tiberio aumentó la subvención a los mercaderes por la compra de este trigo, para facilitar la disponibilidad del mismo al pueblo. A su vez, este emperador solicitó al senado que se fijaran unos precios máximos de venta para todos los alimentos.</p>
    </li>

    <li><spam class="negrita">41-34 d.c:</spam> El emperador Claudio, bajo la presión de enormes dificultades financieras y revueltas internas, decidió favorecer a los que participaban en el proceso annonario ampliando la cobertura incluso en invierno y comprometiéndose a pagar con el herario las pérdidas ocasionadas en el transporte por el mal estado de la mar (Yo si pudiera mandaría barcos vacíos y exigiría el pago de la subvención alegando que estaban llenos de alimentos). También, queriendo beneficiar aún más a los senadores o grandes comerciantes que participaran, les otorgó privilegios fiscales y jurídicos a todo aquel que fletara una nave para la annona (HHR p.553)</li>

    <li>
      <spam class="negrita">117-138 d.c:</spam> Con todas las subvenciones y privilegios que recibían los <spam class="cursive">navicularii</spam>, la práctica de fletar naves para la annona éra muy rentable y estos se organizaban para presionar por mayores privilegios. Ante esta situación, Adriano intento evitar los abusos que habían permitido sus predecesores, sin embargo sus medidas no fueron muy importantes y por ello, a futuro se siguieron aumentando los beneficios y las cargas "públicas" para garantizar la llegada de alimentos a Roma.
    </li>

    <li><spam class="negrita">193-211 d.c:</spam> El emperador Severo incautó el transporte anonnario, sumando las propiedades necesarias para tal cometido a la hacienda del emperador. De esta manera, la annona se convirtió en una tarea estatal de la que se responsabilizaban directamente el emperador y sus hijos. Esta incautación se dió ante el ahogamiento fiscal que sufrían las arcas "públicas" con el fin de abaratar costes y ahorrarse así las compensaciones que recibían los <spam class="cursive">navicularii </spam>. Sin embargo, pese a la posible mejora inicial (sumó a la annona las entregas de pan y aceite de oliva), en el largo plazo se destruyó gran parte del comercio y el transporte, quedando el sector privado como flete de actividades menores y también reguladas fuertemente por el estado. 
    </li>

    <li><spam class="negrita">270-275 d.c:</spam> El emperador Aureliano ordeno la distribución de vino y cerdo a la población. Esta medida también se extendió de forma casi permanente hasta el final del imperio.</li>

    <li><spam class="negrita">301 d.c:</spam> El mal estado de la economía romana, se plasmó en el <spam class="cursive">Edictum De Pretiis Rerum Venalium </spam> o Edicto de precios máximos de Diocleciano. En este edicto, el emperador fijaba los precios máximos para más de 1300 productos, además de establecer los costes de su mano de obra. También se imponía la pena de muerte para todo aquel comerciante que decidiera saltarse dichas limitaciones.
    <br> 
    Debemos entender esta desesperada medida, cómo el sumun de un conjunto de situaciones que van agrabando cada vez más la economía, recargándola cada vez más de regulaciones y haciendo que pierda dinamismo, para finalmente acabar en medidas extremas que terminan por ahogar toda iniciativa privada o llevarla al mercado negro, aún a riesgo de muerte por incumplir el mandato.</li>
  </ul>



</div>



{% endblock %}