{% extends "base.html" %}
{% block title %}Inicio{% endblock %}
{% block head %}
    {{ super() }}

      <link rel="stylesheet" type="text/css" href="../static/btc.css"/>

{% endblock %}
{% block content %}
<!---->

<div class="container">
  <h2>Monero:</h2>
  <p>
    Monero se ha hecho con varias de las propuestas pro-privacidad que se pensaron en un inicio para Bitcoin, pero no se utilizaron. Este activo de intercambio, intenta aportar privacidad por defecto a todas sus transacciones. Si bien, la privacidad nunca será totl, es una buena herramienta en ciertos casos. 
  </p>
  <h4>Problemas:</h4>
  <p>
    Debemos tener en cuenta que monero es un activo no muy utilizado, por lo que su seguridad es mucho menor que la de Bitcoin. Si bien, aporta aportes que maximizan la descentralización por individuo abaratando el coste de iniciar un rig de minería, es cierto que la red podría ser hackeada fácilmente por cualquier gobierno o empresa importante que decida realizar un ataque del 51%. 
  </p>




</div>


{% endblock %}