{% extends "base.html" %}
{% block title %}Crisis y reserva fraccionaria{% endblock %}
{% block head %}
    {{ super() }}

      <link rel="stylesheet" type="text/css" href="../static/btc.css"/>

{% endblock %}
{% block content %}
<!---->

<div class="container">
  <h1>Cómo afecta la reserva fraccionaria y genera crisis ciclicas</h1>
  <p>
    Habiendo entendido previamente cómo una manipulación que incrementa la masa monetaria afecta negativamente a la coordinación de la sociedad <a href="/economia/fiat_crisis" target="_blank">(Manipulación en la cantidad del dinero e ineficiencias económicas)</a>, podemos sumergirnos en un análisis sobre cómo afecta la <a href="/economia/reserva_fraccionaria" target="_blank">reserva fraccionaria</a> a nuestra economía.

    <h2>Proceso de creación de depósitos y préstamos</h2>
    Cuándo un banco recibe un nuevo depósito, este, puede entregar un préstamo por la cantidad recibida menos los requisitos de reserva. Por ejemplo: Si un banco, recibe 100 euros en depósitos, este podrá prestar 90 y guardar un 10% del dinero como reserva (En este ejemplo hemos escogido una reserva del 10%, pero debemos entender que en la vida real, es menor aún).
    <br>
    <br>
    Estos 90 euros prestados, irán a la cuenta de un cliente, que a su vez, los utilizará para pagar a otras personas y éstas a su vez, depositan el dinero en otras cuentas bancarias. Estos nuevos depósitos podrán ser utilizados, a su vez, como respaldo para nuevos préstamos en una serie infinita decreciente de dinero de nueva creación.
    <li>Vease: Multipllicador económico</li>

    <h2>Principales beneficiarios de la reserva fraccionaria</h2>
    Gobiernos, grandes empresas y otros bancos serán los primeros beneficiarios de la reserva fraccionaria, ya que son quienes más préstamos reciben por parte del sistema bancario. Es decir, quienes primero reciben el dinero creado por el sistema de reserva fraccionaria son los dirigentes para financiar sus decisiones, las empresas(en especial empresas intensivas en capital) para financiar sus proyectos y los mismos bancos. 
    <br>
    <br>
    Siguiendo un proceso económico natural, el dinero se irá filtrando al resto de la economía en forma de pagos, salarios, subvenciones, etc. 
    <h2>Inversiones no rentables parecen serlo</h2>
    Con la emisión de préstamos a gran escala y una masa monetaria en aumento durante la fase expansiva del crédito, se observa un aumento de precios generalizado que impulsa a las empresas a producir más y ensanchar el ciclo productivo. Este mismo aumento de precios, impulsa salarios y beneficios al alza, apoyando la idea de auge económico. 
    <br>
    <br>
    Sin embargo, al no existir un aumento del ahorro previo por parte de la sociedad, la economía no está ni estará preparada para comprar el aumento de producción que se está forjando. De esta manera, en las fases iniciales de expansión monetaria, se ha creado una imagen de ahorro y bienestar económico que no existe realmente, lanzando así a agentes económicos a emprender en sectores que no requieren de mayores aumentos de producción. Las inversiones sean cuales sean, parecen rentables. 
    <br>
    <br>
    Esta falta de ahorro no se notará hasta dentro de unos años, cuándo la nueva producción sea volcada al mercado, por ahora, el dinero se filtrará en la sociedad y se dirigirá hacia los bienes de consumo, que es lo que demanda la sociedad sin la existencia de ahorro previo. Así, nos encontramos también con un aumento genealizado de los precios de los bienes más próximos al consumo.

    <h2>Los bienes de producción salen al mercado</h2>
    Una vez todo el proceso de producción se finaliza y salen al mercado los nuevos bienes que las empresas creyeron oportunos, se descubre que estos no tienen una aceptación generalizada por parte del público. Con unas empresas incapaces de colocar sus productos en el mercado, las mismas acuden de nuevo a los bancos para extender los tiempos de devolución e incluso obtener nuevos préstamos que les permitan aumentar aún más su producción u ofrecer a plazos sus bienes a clientes desprevenidos. Sin embargo, los sucesivos bienes tampoco serán aceptados por un mercado, que con la misma preferencia temporal de hace años, demanda bienes de consumo. 
    <br>
    <br>
    Con el tiempo, se va haciendo cada vez mas patente que los bienes producidos no encuentran mercado al cuál salir a la venta, por lo que las empresas que trabajan en el sector, deberán incurrir en inpagos, iniciando así, un proceso de contracción monetaria que afectará a toda la sociedad en su conjunto. 

    <h2>Contracción monetaria y crisis</h2>
    Los motivos por los que puede ocurrir una contracción crediticia son:
    <ul>
      <li>Devolución de los préstamos</li>
      <li>Impago de los préstamos</li>
      <li>Aumento de las reservas</li>
    </ul>

    Una vez la contracción se inicia, ésta va afectando repentinamente a toda la sociedad. Toda la capacidad productiva destinada a nueva generación de bienes de capital ha resultado en una lapidación casi total de fondos. Por lo tanto, todos estos recursos, deberán entrar en un proceso de reciclaje o abandono hasta que son reutilizados en otros sectores de la economía. 
    <br>
    <br>
    El aspecto que más sufrimiento causará, será el reciclaje del capital humano, que fué destinado a la creación de aquellos bienes que no encuentran mercado y que ahora, necesitan encontrar trabajo en otros sectores. Esto en sí, es lo que más fricción causará en la sociedad, ya que se encontrarán millones de personas ante una situación de paro y falta de trabajo hasta que con los años, se reciclen y puedan dedicarse a otros sectores. 

    <h2>Conclusión</h2>
    La reserva fraccionaria genera crisis cíclicas, las cuales podrían ser evitadas en un sistema económico sano. Sin embargo, recordemos que los primeros beneficiarios son el propio gobierno y los bancos. Por lo tanto, la reserva fraccionaria es útil para financiar el gasto estatal y la compra de votos a gran escala. Solicitar un sistema de reserva del 100% es vital para tener una sociedad sana, ahorradora y responsable. 

  </p>






</div>


{% endblock %}