{% extends "base.html" %}
{% block title %}Inicio{% endblock %}
{% block head %}
    {{ super() }}

      <link rel="stylesheet" type="text/css" href="../static/btc.css"/>

{% endblock %}
{% block content %}
<!---->

<div class="container">

    <header>
      <h2>Un lugar sobre seguridad, economía e historia.</h2>
    </header>

    <section>
      <div>
        <h2>Economía</h2>

        <p>Quiero explicar y tratar la economía desde un punto de vista personal, es decir, expresando mis opiniones y conocimiento. En concreto, gran parte del conocimento económico que poseo, será aplicado a bitcoin o monedas que considero seguras, sin embargo, no perderé de vista conceptos y leyes económicas.
        </p>
      </div>

      <div>
        <h2>Seguridad</h2>

        <p>No podemos hablar de economía sin tener conocimientos básicos de seguridad, ya que si queremos acumular riqueza, es necesario saber como proteger esta.</p>
      </div>

      <div>
        <h2>Historia</h2>

        <p>Pues sí, la Historia es otra de mis pasiones, así que tengo claro que la intrduciré en esta web.</p>

        <p>Lo dicho, todo lo que escriba aquí tendra un único fin: El de complacerme y guardar mis conocimientos.</p>
      </div>
    </section>

</div>


{% endblock %}