{% extends "base.html" %}
{% block title %}Reserva fraccionaria{% endblock %}
{% block head %}
    {{ super() }}

      <link rel="stylesheet" type="text/css" href="../static/btc.css"/>

{% endblock %}
{% block content %}
<!---->

<div class="container">
  <h1>Reserva fraccionaria</h1>
  <p>
    La reserva fraccionaria es la obligación de los bancos a sólo mantener un porcentaje de los depósitos como respaldo. El sistema actual, está basado en que no todos los clientes acudirán a retirar sus fondos a la vez y por tanto, los bancos no necesitan tener todos estos guardados. 
    <br>
    <br>
    Con este sistema, la masa monetaria crece conforme el dinero se mueve más rápido, dado que ante cada nuevo depósito, el banco puede emitir nuevos préstamos que a su vez, son depositados en otros bancos que permiten la creación de nuevos créditos. Es decir, el dinero se expande de manera indefinida hasta que es insostenible y entonces se entra en una crisis dónde se hacen patentes las malas inversiones. 
  </p>

</div>


{% endblock %}