{% extends "base.html" %}
{% block title %}Inicio{% endblock %}
{% block head %}
    {{ super() }}

      <link rel="stylesheet" type="text/css" href="../static/btc.css"/>

{% endblock %}
{% block content %}
<!---->

<div class="container">
  <h2>Bitcoin:</h2>
  <p>Bitcoin, al ser un activo fácilmente transferible, es posible que compita como bien de intercambio o de reserva de valor con las monedas fiat actualmente imperantes.

    <ul>
      <h3>Cosas útiles</h3>
      <li><a href="/btc/compra_no_kyc">Intercambio BTC sin KYC</a></li>
      <h3>Divagaciones</h3>
      <li><a href="/btc/btc_fiat">Bitcoin puede acabar siendo como la economía fiat</a></li>
      <li><a href="/btc/puede_ser_btc_moneda">¿Puede Bitcoin servir como moneda mundial?</a></li>
      <li><a href="/btc/custodiaYadopcion">Custodia y adopción</a></li>
      <h3>Principios Bitcoin</h3>
      <li><a href="/btc/proposicion_valor">Proposición de valor</a></li>
      <li><a href="/btc/shitcoin_definicion">Shitcoin definición</a></li>
    </ul>
  </p>

</div>


{% endblock %}